/* ТИПОГРАФИКА */

body{
	font-family: 'Roboto Mono', monospace !important;
	font-size: 18px !important;
	font-weight: 400 !important;
    font-style: normal !important;
}

a{
	text-decoration: underline;
	color: black;
}

a:hover{
	color: red;
}

.zagolovok{
	font-size: 80px !important;
	font-style: normal !important;
    font-weight: 700 !important;
}

.knopka a{
	color: white !important;
}

.knopka a:hover{
	color: white !important;
}